.nav{
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 10px;
}
.elements{
    display: flex;
    list-style-type: none;
}
a{
    margin-right: 15px;
    color: black;
    font-weight: bolder;
    text-decoration: none;
}
a:hover{
    color: rgb(38, 159, 29);
}